# Shop billing

#### This project is based on a shop, where it bills the amount of the user purchased items in the shop, here the items available in the shop are created as schemas in a database, the sql is connected with the python program using the mysql module, so based on the item available in the shop the schemas executed are : 
    * Vegetable schema
    * Fruits schema
    * Cereal schema
    * Dairy products schema
#### In the mentioned schemas along with the name of the product, the available quantity of the product in the shop, and its cost per kilogram are added, so if there is any change in the quantity or the rate or even a new record to be added or deleted then it must be made directly on the database.

### Importing the required modules

In [108]:
import mysql.connector
import datetime as dt
import time

### Creating the database

In [2]:
mydb = mysql.connector.connect(host='localhost',user='root',password='*****',auth_plugin='mysql_native_password')
mycursor = mydb.cursor()

In [3]:
mycursor.execute('create database shop')

In [4]:
mycursor.execute('use shop')

### creating schema vegetable

In [5]:
mycursor.execute('create table vegetable(Name varchar(300), Available_quantity_kg int,cost_per_kg int)')

In [6]:
command = 'insert into vegetable(Name, Available_quantity_kg, cost_per_kg) values(%s,%s,%s)'
val = [('Carrot',100,40),
      ('Onion',200,30),
      ('Potato',400,35),
      ('Tomato',100,50),
      ('Drumstick',400,25),
      ('Lemon',100,30),
      ('Garlic',500,15)]

In [7]:
mycursor.executemany(command,val)

### creating schema fruits

In [8]:
mycursor.execute('create table fruits(Name varchar(300), Available_quantity_kg int,cost_per_kg int)')

In [9]:
command = 'insert into fruits(Name, Available_quantity_kg, cost_per_kg) values(%s,%s,%s)'
val = [('Apple',100,60),
      ('Mango',150,80),
      ('Banana',100,50),
      ('Kiwi',200,90),
      ('Dragonfruit',500,100),
      ('Watermelon',400,130),
      ('Grapes',500,120)]

In [10]:
mycursor.executemany(command,val)

### creating schema cereal

In [11]:
mycursor.execute('create table cereal(Name varchar(300), Available_quantity_kg int,cost_per_kg int)')

In [12]:
command = 'insert into cereal(Name, Available_quantity_kg, cost_per_kg) values(%s,%s,%s)'
val = [('Wheat',500,600),
      ('Barley',600,400),
      ('Corn',400,700),
      ('Millet',800,950),
      ('Rye',500,400),
      ('Oats',700,980),
      ('Buckwheat',1000,800)]

In [13]:
mycursor.executemany(command,val)

### creating schema diary_products

In [14]:
mycursor.execute('create table diary_products(Name varchar(300), Available_quantity_kg int,cost_per_kg int)')

In [15]:
command = 'insert into diary_products(Name, Available_quantity_kg, cost_per_kg) values(%s,%s,%s)'
val = [('Milk',100,40),
('Curd',150,90),
('Cheese',200,110),
('Panner',100,150),
('Butter',200,140),
('Milk powder',400,70),
('Sour cream',450,450)]

In [16]:
mycursor.executemany(command,val)

### creating the main program

In [104]:
def main():
    print('_'*100)
    print('Welcome to Grocery Shop!'.center(100,'-'))
    print('Contact us : 9029420021'.center(100,' '))
    print('Address : Opp to annamalai university, Annamalai nagar, Chidambaram'.center(100,' '))
    print(''.center(100,'-'))
    print('_'*100)
    cost = []
    
    while True:

        user_input = int(input('\n Press 1 for vegetable database and purchase \n Press 2 for fruits database and purchase \n Press 3 for cereals database and purchase \n Press 4 for Dairy database and purchase \n'))

        if user_input == 1:
            mycursor.execute('Select * from vegetable')
            print('-'*32)
            print('| Vegetable Name | Cost per kg |')
            for i in mycursor.fetchall():
                print('-'*32)
                print("|",i[0]," "*(13-len(i[0])),"|",i[2]," "*(10-len(str(i[2]))),"|")
                print('-'*32)
            while True:
                    name = input('Enter the name of the vegetable : ')
                    quantity = int(input('Enter the quantity in kg of the vegetable : '))
                    mycursor.execute(f"select * from vegetable where name = '{name}'")
                    result = mycursor.fetchone()
                    if (quantity < result[1]):
                        cost.append(quantity*result[2])
                    buy = input('If you want any other vegetable Y/N : ')
                    if buy=='Y':
                        continue
                    else:
                        break
                
        elif user_input == 2:
            mycursor.execute('Select * from fruits')
            print('-'*24)
            print('| Fruits Name | Cost per kg |')
            for i in mycursor.fetchall():
                print('-'*24)
                print("|",i[0]," "*(10-len(i[0])),"|",i[2]," "*(9-len(str(i[2]))),"|")
                print('-'*24)
                
            while True:
                    name = input('Enter the name of the fruit : ')
                    quantity = int(input('Enter the quantity in kg of the vegetable : '))
                    mycursor.execute(f"select * from fruits where name = '{name}'")
                    result = mycursor.fetchone()

                    if (quantity < result[1]):
                        cost.append(quantity*result[2])
                    buy = input('If you want any other fruits Y/N : ')
                    if buy=='Y':
                        continue
                    else:
                        break
                
        elif user_input == 3:
            mycursor.execute('Select * from cereal')
            print('-'*27)
            print('| Cereal Name | Cost per kg |')
            for i in mycursor.fetchall():
                print('-'*27)
                print("|",i[0]," "*(10-len(i[0])),"|",i[2]," "*(9-len(str(i[2]))),"|")
                print('-'*27)
            while True:
                    name = input('Enter the name of the cereal : ')
                    quantity = int(input('Enter the quantity in kg of the cereal : '))
                    mycursor.execute(f"select * from cereal where name = '{name}'")
                    result = mycursor.fetchone()
                    if (quantity < result[1]):  
                        cost.append(quantity*result[2])
                    buy = input('If you want any other cereal Y/N : ')
                    if buy=='Y':
                        continue
                    else:
                        break
                
        elif user_input == 4:
            mycursor.execute('Select * from diary_products')
            print('-'*35)
            print('| Diary products Name | Cost per kg |')
            for i in mycursor.fetchall():
                print('-'*35)
                print("|",i[0]," "*(17-len(i[0])),"|",i[2]," "*(9-len(str(i[2]))),"|")
                print('-'*35)
            
            while True:
                    name = input('Enter the name of the diary product : ')
                    quantity = int(input('Enter the quantity in kg of the diary product : '))
                    mycursor.execute(f"select * from diary_products where name = '{name}'")
                    result = mycursor.fetchone()

                    if (quantity < result[1]):

                        cost.append(quantity*result[2])
                    buy = input('If you want any other diary products Y/N : ')
                    if buy=='Y':
                        continue
                    else:
                        break
        
        else:
            print('Check your choice')

        print('-'*32)
        a = input('You want to continue shopping Y/N : ')
        if a=='Y':
            continue 
        else:
            break
    
    return sum(cost)

### Creating the bill function to print the bill

In [109]:
def bill(cost):
    print('\n\n\n')
    print('_'*100)
    print('DATE : ',dt.date.today().strftime('%B %d,%Y'))
    print('TIME : ',dt.datetime.now().strftime('%H:%M:%S'))
    print('Thanks for purchasing! Your bill is been processing'.center(100,' '))
    time.sleep(5)
    print(''.center(100,'-'))
    print('Total Amount'.center(50,' '),":",str(cost).center(50,' '))
    print(''.center(100,'-'))
    print('!!!Please visit again!!!'.center(100,' '))
    print('_'*100)

In [110]:
bill(main())

____________________________________________________________________________________________________
--------------------------------------Welcome to Grocery Shop!--------------------------------------
                                      Contact us : 9029420021
                Address : Opp to annamalai university, Annamalai nagar, Chidambaram
----------------------------------------------------------------------------------------------------
____________________________________________________________________________________________________

 Press 1 for vegetable database and purchase
 Press 2 for fruits database and purchase
 Press 3 for cereals database and purchase
 Press 4 for Dairy database and purchase
 1

--------------------------------
| Vegetable Name | Cost per kg |
--------------------------------
| Carrot         | 40          |
--------------------------------
--------------------------------
| Onion          | 30          |
--------------------------------
--------------------------------
| Potato         | 35          |
--------------------------------
--------------------------------
| Tomato         | 50          |
--------------------------------
--------------------------------
| Drumstick      | 25          |
--------------------------------
--------------------------------
| Lemon          | 30          |
--------------------------------
--------------------------------
| Garlic         | 15          |
--------------------------------

Enter the name of the vegetable :  Carrot
Enter the quantity in kg of the vegetable :  2
If you want any other vegetable Y/N :  N

--------------------------------

You want to continue shopping Y/N :  N

____________________________________________________________________________________________________
DATE :  March 08,2022
TIME :  19:58:03
                        Thanks for purchasing! Your bill is been processing
----------------------------------------------------------------------------------------------------
                   Total Amount                    :                         80
----------------------------------------------------------------------------------------------------
                                      !!!Please visit again!!!
____________________________________________________________________________________________________